    /* Estilos CSS básicos */
    body {
        font-family: Arial, sans-serif;
        background-color: #f9f9f9;
        margin: 0;
        padding: 0;
      }
      
      #header {
        background-color: #f44336;
        padding: 20px;
        color: #fff;
        text-align: center;
      }
      
      #notes-container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
      }
      
      .note {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
        background-color: #fff;
      }
      
      .note input[type="text"], .note textarea {
        width: 100%;
        border: none;
        background-color: transparent;
      }
      
      .note h2 {
        margin: 0;
      }
      
      .note p {
        margin: 10px 0;
      }
      
      #add-note-form {
        margin-top: 20px;
      }
      
      #add-note-form input[type="text"], #add-note-form textarea, #add-note-form button {
        margin-bottom: 10px;
      }