@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

/* Estilos CSS básicos */
body {
    font-family: "Inter", sans-serif;
    font-weight: bolder;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

#modal1{
    width: 50%;
    height: 700px!important;
}

#header {
    background-color: #f44336;
    padding: 20px;
    color: #fff;
    text-align: center;
}

.ambitos{
    display: flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
    align-items: center;
}

.ambitos_item{
    border:1px solid #ccc;
    width: 80%;
    padding: 10px;
    border-radius: 15px;
    background-color: #fff;
}

#notes-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.note {
    border: 1px solid #ccc;
    flex-basis: calc(33.33% - 20px);
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    background-color: #fff;
}

.selected {
    border: 2px solid red;
}

.note input[type="text"],
.note textarea {
    width: 100%;
    border: none;
    background-color: transparent;
}

.note h2 {
    margin: 0;
}

.note p {
    margin: 10px 0;
}

#note-content {
    height: 200px;
}

.add-note-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
}

.add-note-form input[type="text"],
.add-note-form textarea,
.add-note-form button {
    margin-bottom: 10px;
}

.agregar-nota {
    border: 1px solid black;
    font-weight: bold;
    border-radius: 7px;
}


.botones_anadir_tarea{
    margin:20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:25px;
}

.promo {
    text-align: center;
    padding: 10px;
}

.background-gray {
    background-color: rgb(234, 235, 237);
}

.grid-layout {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-element {
    width: 90%;
    margin: auto;
}

.demo-img {
    width: 100%;
    border-radius: 5%;
}

.medium-text {
    font-size: large;
}