@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

/* Estilos CSS básicos */
body {
    font-family: "Inter", sans-serif;
    font-weight: bolder;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

#header {
    background-color: #f44336;
    padding: 20px;
    color: #fff;
    text-align: center;
}

#notes-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.note {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
}

.note input[type="text"],
.note textarea {
    width: 100%;
    border: none;
    background-color: transparent;
}

.note h2 {
    margin: 0;
}

.note p {
    margin: 10px 0;
}

#note-content {
    height: 200px;
}

#add-note-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 70%;
}

#add-note-form input[type="text"],
#add-note-form textarea,
#add-note-form button {
    margin-bottom: 10px;
}

.agregar-nota {
    border: 1px solid black;
    font-weight: bold;
    border-radius: 7px;
}
